@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  background-color: white;
  width: 320px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.container img {
  width: 100%;
  border-radius: 10px;
}
.title {
  margin: 10px 0px;
  padding: 10px 15px;
  font-size: 22px;
  color: hsl(218, 44%, 22%);
}
.detail {
  color: hsl(220, 15%, 55%);
  padding: 0px 13px;
  margin-bottom: 20px;
}
footer {
  position: relative;
  top: 5rem;
}
